@model List<WebbySoftware.Application.UserOperations.Queries.UserViewModel>

@{
    ViewData["Title"] = "Team";
}

<h1>Team</h1>



<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title" data-aos="fade-up" style="text-align: left;">
            <h2>Webbysoft Team</h2>
            <p>"Our team is comprised of engineers who are like-minded friends with genuine passion for learning software development."</p>
        </div>

        <div class="row">
            @foreach (var user in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="member" data-aos="zoom-in">
                        <div class="pic"><img src="@Url.Content(user.Photo)" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>@user.Name @user.Surname</h4>
                            <h4>Contact No: @user.Phone</h4>
                            <span>@user.Title</span>
                            <div class="social">
                                <a href="@user.GithubLink"><i class="bi bi-github"></i></a>
                                <a href="@user.LinkedINLink"><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section><!-- End Team Section -->
