@model List<WebbySoftware.Application.GameOperations.Queries.GameDevViewModel>

@{
    ViewData["Title"] = "GameDevelopment";
}

<h1>GameDevelopment</h1>

<div class="jumbotron text-left mb-4">
    <h1>Welcome to the Game Development Page</h1>
    <p>Please find the projects developed by our team as follows.</p>
    <hr>
</div>


<div class="container mt-5 border p-3">
    @if (Model.Any())
    {
        @foreach (var game in Model) {
        <div class="project-module">
            <!-- Project Name -->
            <div class="row">
                <div class="col-12">
                    <h1 class="project-name">@game.ProjectName</h1>
                </div>
            </div>

            <!-- Project Description and Slider -->
            <div class="row">
                <div class="col-md-6">
                    <p class="project-description">@game.ProjectDescription</p>
                    <!-- List of Users -->
                    <h5>Project Participants:</h5>
                    <ul class="list-of-users">
                        @foreach (var user in game.Users) {
                            <li><a href="@Url.Action("Team", "Home")">@user.Name @user.Surname</a></li>
                        }
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="splide" id="thumbnail-slider-@game.ProjectName">
                        <div class="splide__track">
                            <ul class="splide__list">
                                @foreach (var thumbnail in game.Thumbnails) 
                                {
                                    <li class="splide__slide">
                                        <img src="@Url.Content(thumbnail)" class="img-fluid" alt="">
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- GitHub Link -->
            <div class="row mt-3">
                <div class="col-12">
                    <p class="github-link"><a href="@game.ProjectGitLink">Project GitHub Link</a></p>
                </div>
            </div>
        </div>
        <hr />
        }
    }
    else
    {
        <h2>No Games found, stay tuned for updates!</h2>
    }
<br>
</div>
<br>
